
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

h1 {
    font-family: 'Anonymous Pro', monospace;

}

h1:hover{
    font-weight: bold; 
    text-transform: uppercase; 
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

h2{
    font-family: 'Noto Sans', sans-serif;
}

